html, body {
    background-color: black;
    margin: 0;
    padding: 0;
    width: 100%
}

.container {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 1000px;
}

header {
    position: relative;
    width: 100%;
    background: url(../img/collage.jpg) no-repeat center center fixed;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#tider {
    width: 50%;
}

#tider table {
    position: absolute;
    top: 30%;
    left: 10%;
    background-color:  #90C2FF;
    border: ridge;
    border-color: #3688FF;
    ;
}

#tider td {
    color: whitesmoke;

}

.logo {
    margin-left: auto;
    margin-right: auto;
    width: 375px;
    height: 282px;
}

#flagz {
    position: absolute;
    top: 5px;
    right: 10px;
    width: 100px;
    padding: 5px;
}

#flagz img {
    margin: 4px;
    width: 40px;
    height: 40px;
    float: left;
}

nav {
    border-bottom: outset;
    border-top: outset;
    border-color: #3688FF;
    background-color: #90C2FF;
}

.mainmenu {
    width: 50%;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
}

.menubuttons {
    list-style-type: none;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    float: left;
    padding: 0;
}

.menubuttons li {
    font-family: Arial;
    font-weight: 500;
    color: whitesmoke;
    display: block;

    width: 96px;
    height: 30px;
    float: left;
    text-align: center;
    margin-bottom: 2px;
    }
